body{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    height: 70vh;
}
#ramka
{
    border: 2px solid #232121;
    border-radius: 8px;
    padding: 1ex;
}
#ramkateksty
{
    border: 2px solid #232121;
    border-radius: 8px;
    padding: 1ex;
}
#wygwyglad
{
    margin:1%;
    display: flex;
    justify-content: center;
    align-content: center;
}
#KlasaWygladKalkulatora {

    justify-content: center;
    align-content: center;
    width: 100%;
    background-color: #151414;

}
#kolorowo
{
    display: block;
    justify-content: center;
    align-items: center;
}
#przyciski
{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav
{
    margin:5%;
    padding:0;
    display:flex;
    font-size: 22px;
    letter-spacing: 4px;
    justify-content: center;
    align-items: center;
    background: #000;
    height: 10vh;
}
h1
{
    color: #fff;
}
.teksty{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-color: #151414;
}
form{
    margin:0;
    padding: 0;
}
.bop{
    width: 70%;
    height: 120px;
    float:left;

}
.TextViewLiczbaA {

    width: 100%;
    height: 50%;
    font-size: 30px;
    color: #fff;
    border: none;
    text-align: center;
    background-color: transparent;
}
.TextViewLiczbaB {
    width: 100%;
    height: 50%;
    color: #fff;
    font-size: 30px;
    border: none;
    text-align: center;
    background-color: transparent;
}
.TextViewOperator {
    margin-top: 12%;
    width: 20%;
    height: 60px;
    font-size: 30px;
    border: none;
    float: left;
    color: #fff;
    background-color: transparent;
    text-align: center;
}
.przyciski{
    display:table;
    margin-top:5%;
    position:relative;
    width:100%;

}
#modulo, #potegowanie2, #potegowaniexdon, #pierwiastkowanie
{
    font-size:25px;
}
.button {
    width: 80px;
    height: 40px;
    font-size: 30px;
    margin:1px;
    border: none;
    background-color: white;
    border-radius: 10px;
}
.ButtonDzialan {
    width: 80px;
    height: 40px;
    font-size: 30px;
    margin: 1px;
    border: none;
    border-radius: 10px;
}
.znakRownosci{
    width: 80px;
    height: 40px;
    font-size: 20px;
    margin: 1px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
}
.kropka{
    margin-left: 25%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    border: none;
    font-weight: bold;
    border-radius: 50%;
}
.ButtonSpecjalny {
    width: 80px;
    height: 40px;
    font-size: 30px;
    margin: 1px;
    border-radius: 10px;
}
.buttonZero{
    border-radius: 10px;
    width: 166px;
    height: 40px;
    font-size: 30px;
    margin: 1px;
    border: none;

}
.buttonCzyszczenia{
    border-radius: 10px;
    width: 166px;
    height: 40px;
    font-size: 30px;
    margin: 1%;
    border: none;

}






