body{
    marginn:10;
}
.KlasaWygladKalkulatora {
    position: absolute;
    top: 0%;
    left: 30%;
    width:220px;
    height: 480px;
    transform: translateX(-50%) translateY(50%);
    background-color: #efefef;

}

*{
    margin:0;
    padding:0;
}

.button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin:1px;
    border: none;
    background-color: white;
}
.ButtonSpecjalny {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 1px;
    border: none;
}

.ButtonDzialan {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 1px;
    border: none;
}

.buttonZero{

    width: 108px;
    height: 50px;
    font-size: 20px;
    margin: 1px;
    border: none;
}

.buttonCzyszczenia{
    width: 108px;
    height: 50px;
    font-size: 20px;
    margin: 1px;
    border: none;
}

.TextViewOperator {

    margin:1%;
    width: 24%;
    height: 60px;
    font-size:30px;
    border: none;
    background-color: transparent;

}

.TextViewLiczbaA {
    margin-left: 29%;;
    width: 70%;
    height: 60px;
    font-size: 30px;
    border: none;
    background-color: transparent;
    background-color: #efefef;
}

.TextViewLiczbaB {

    width: 70%;
    height: 60px;
    font-size: 30px;
    border: none;
    background-color: transparent;
    background-color: #efefef;
}


